<section class="mt-5">
  <div class="container">
    <div class="card">
      <div class="row align-items-center gy-3 p-5">
        <div class="col-12 col-md-7">
          <h1 class="card-title fw-semibold text-primary">Painel do Usuário</h1>

          <h2 class="fw-semibold fs-4">Seja Bem-Vindo(a)!</h2>
          <section id="info" class="fs-5">
            <p class="mt-4">
              O <span class="text-primary fw-semibold">e-Agenda</span> busca
              agilizar o gerenciamento da rotina diária ao facilitar o acesso e
              controle de suas tarefas, contatos, compromissos e despesas.
            </p>
            <p class="text-primary fw-semibold">O que você deseja gerenciar?</p>
          </section>
          <section id="buttons" class="d-grid d-md-flex gap-2">
            <a
            [routerLink]="['/contatos/listar']"
            role="button"
            class="btn btn-primary me-md-1"
          >
            <i class="bi bi-people-fill me-2"></i>
            Contatos
          </a>

               <a
          [routerLink]="['/compromissos/listar']"
          role="button"
          class="btn btn-primary me-md-1"
        >
          <i class="bi bi-bookmark-fill me-2"></i>
          Compromissos
        </a>

        <a
        [routerLink]="['/categorias/listar']"
        role="button"
        class="btn btn-primary me-md-1"
      >
        <i class="bi bi-filter-circle-fill me-2"></i>
        Categorias
      </a>

      <a
      [routerLink]="['/despesas/listar']"
      role="button"
      class="btn btn-primary me-md-1"
    >
      <i class="bi bi-basket3-fill me-2"></i>
      Despesas
    </a>
          </section>
        </div>

        <div class="col-12 col-md-5">
          <img src="/assets/dashboard-image.svg" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>

